---
import { ViewTransitions } from "astro:transitions";
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

---
<!-- campfire2.webp/campfire1.webp files converted from gifs aquired through https://tenor.com/view/dark-souls-knight-rest-here-weary-rest-here-weary-one-gif-19874929 & https://tenor.com/view/anime-frieren-read-reading-grimoire-gif-9258809254239823881 -->
<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<ViewTransitions />
	</head>
	<body>
		<Header />
		<main>
			<p></p>
			<h2>Chethaka Janakvin Ladduwahetty</h2>
			<p><strong>Genetics and Genomics</strong></p>
			<p>
				Clayton, Vic 3168 | <a href="mailto:chethaka@0xcheth.com">chethaka@0xcheth.com</a>
			</p>
		
			<h3>Qualifications</h3>
			<ul>
				<li>
					<strong>Master of Genome Analytics</strong> - Monash University, Clayton, AU (2025 - ongoing)
				</li>
				<li>
					<strong>Bachelor of Science in Genetics and Genomics with a minor in Chemistry</strong> - Monash University, Clayton, AU (2021 - 2024)
				</li>
				<li>
					<strong>Associate of Arts in Chemistry (Hons.)</strong> - Broward College, Florida, USA (2019 - 2021)
				</li>
			</ul>
		
			<h3>Skills</h3>
			<ul>
				<li><strong>Lab experience:</strong> Vast bench experience in microbiology, genomics, biotech, and chemistry-related lab procedures at the PC2 standard</li>
				<li><strong>Genomics:</strong> PCR, DNA/RNA extraction, Plasmid construction, Genome assembly, Sequence alignment, Epigenetics, Metagenomics, Genetic assays, Drosophila genetic modeling</li>
				<li><strong>Microbiology:</strong> Microscopy, Culturing, Aseptic practices, Electrophoresis, Pathogen testing, Plating, Antibiotic resistance testing</li>
				<li><strong>Chemistry:</strong> Food chemistry, Inorganic and Organic Chemistry, Biochemistry, Biological Chemistry</li>
				<li><strong>Data Science, Programming, and IT:</strong> Python, R, C#, JS, MDX, CSS, HTML, Astro, git, Rudimentary full-stack development</li>
			</ul>
		
			<h3>Certifications</h3>
			<ul>
				<li>Working with Children Check Victoria (ID: 3020752A-01, Expiration: 2029)</li>
			</ul>
		
			<h3>Links</h3>
			<ul>
				<li><a href="https://handbook.monash.edu/current/courses/S6005" target="_blank">Monash Master of Genome Analytics handbook page</a></li>
				<li><a href="https://handbook.monash.edu/2021/courses/s2000?year=2021" target="_blank">Monash Bachelor of Science handbook page</a></li>
				<li><a href="https://catalog.broward.edu/programs-study/associate-arts-honors/" target="_blank">Broward College Associate of Arts Honors Program handbook page</a></li>	
		</main>
		<Footer />
	</body>
</html>